<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="INVOICEDB" connectionString="Server=.\SQLEXPRESS;Database=INVOICE;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="INVOICING_SOFTWARE.Properties.Settings.INVOICEConnectionString"
   connectionString="Data Source=DESKTOP-LFSL6IJ\SQLEXPRESS;Initial Catalog=INVOICE;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
